@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-sans);
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}

@layer base {
    :root {
        --background: 263 100% 100%;
        --foreground: 263 5% 10%;
        --card: 263 50% 100%;
        --card-foreground: 263 5% 15%;
        --popover: 263 100% 100%;
        --popover-foreground: 263 100% 10%;
        --primary: 263 41.2% 56.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 263 30% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 225 30% 95%;
        --muted-foreground: 263 5% 40%;
        --accent: 225 30% 90%;
        --accent-foreground: 263 5% 15%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 263 5% 100%;
        --border: 294 9% 79%;
        --input: 287 4% 48%;
        --ring: 263 41.2% 56.7%;
        --radius: 0.75rem;
    }
    .dark {
        --background: 263 50% 10%;
        --foreground: 263 5% 100%;
        --card: 263 50% 10%;
        --card-foreground: 263 5% 100%;
        --popover: 263 50% 5%;
        --popover-foreground: 263 5% 100%;
        --primary: 263 58% 87%;
        --primary-foreground: 263 32% 35%;
        --secondary: 263 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 225 30% 25%;
        --muted-foreground: 263 5% 65%;
        --accent: 225 30% 25%;
        --accent-foreground: 263 5% 95%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 263 5% 100%;
        --border: 285 5% 29%;
        --input: 288 5% 58%;
        --ring: 263 41.2% 56.7%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1 {
        @apply mb-4 text-4xl lg:text-5xl font-extrabold;
    }
    h2 {
        @apply mt-4 mb-2 text-2xl lg:text-3xl font-bold;
    }
    h3 {
        @apply mt-3 mb-1 text-xl lg:text-2xl font-semibold;
    }
    h4 {
        @apply mb-1 text-lg lg:text-xl font-semibold;
    }
    p {
        @apply mb-2 leading-snug;
    }
    ul {
        @apply mb-2 ml-4 list-disc;
    }
    ol {
        @apply mb-2 ml-4 list-decimal;
    }
    article {
        a {
            @apply underline hover:text-primary;
        }
    }
}
